.header{
    height: 0px;
    background-color: #DDDDDD;
}



.table-currencies{
	border: none;
}
.table-currencies thead th{
	text-align: center;
	border-bottom-width: 1px;
    background-color: #337ab7;
    color: #fff;
}
.table-currencies tbody tr{
	cursor: pointer;
}
.table-currencies td.colorPlus, .table-currencies td.colorMinus{
    font-weight: bold;
}
.table-currencies td.colorPlus{
    color: #390;
}
.table-currencies td.colorMinus{
    color: #F00;
}
.table-currencies input.priceOut{
    width: 50px;
}
.table-currencies tfoot td{
    font-weight: bold;
}



.footer{
    height: 0px;
    background-color: #DDDDDD;
}
