header
    height 70px
    background-color #678c40

    .logo
        width 60px
        height 60px
        margin 5px

    .flex-container
        display flex
        align-items center
        justify-content space-between

    .menu
        ul
            list-style none
            padding 0
            margin 0
        li
            display inline-block
        a
            color #fff
            font-size 16px
            line-height 18px
            border-radius 3px
            padding 7px 10px
            &:hover
                text-decoration none
                color #e5dd8f
