@import "../../node_modules/bootstrap/dist/css/bootstrap.min.css"
@import "colors.styl"
@import "header.styl"
@import "main.styl"
@import "footer.styl"

body
    font-family Helvetica

header
    height 70px
    background-color color-blue

main
    padding 30px 0px 20px

footer
    height 50px
    border-top 1px solid color-dark
    text-align center
    padding-top 14px
