main.container
    padding 30px 0px 20px



.page-home
    .descr
        padding 10px 20px
        text-align justify



.page-currencies
    .table-currencies
        border none
        margin 0
        width auto
        .col-name
            width 170px
        .col-increase-now
            width 100px
        .col-price-now, .col-price-out, .col-sum-out, .col-increase-out-percent
            width 95px
        .col-price-in, .col-sum-in, .col-sum-now
            width 90px
        .col-sum, .col-price-max
            width 75px
        .col-increase-now-percent
            width 70px
        tbody tr
            cursor pointer
        tfoot td
            font-weight bold
        th
            text-align center
            border-bottom-width 1px!important
            background-color #337ab7
            color #fff
        th, td
            font-size 13px
            line-height 1.3
            vertical-align middle!important
            padding 5px 5px 4px!important
        td
            &.colorPlus, &.colorMinus
                font-weight bold
            &.colorPlus
                color #390
            &.colorMinus
                color #F00
        input.priceOut
            width 50px
            padding 1px 0 0 0
            height 18px
    .table-currencies-container
        width 1140px



.page-orders
    .table-orders
        border none
        margin 0
        width auto
        .col-name
            width auto
        .col-count, .col-sum, .col-type
            width 75px
        .col-price
            width 95px
        .col-type
            width 50px
            text-align center
            img
                width 30px
        tbody tr
            cursor pointer
        th
            text-align center
            border-bottom-width 1px!important
            background-color #337ab7
            color #fff
        th, td
            font-size 13px
            line-height 1.3
            vertical-align middle!important
            padding 5px 5px 4px!important
